html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh
}

.card--custom {
    background-color: #fcfcfc;
    border: 1px solid #e8e5e5;
    padding: 6rem 3rem;
}

.input-bbva {
    background: transparent;
    border: none;
    border-bottom: 1px solid#c7c7c7;
    border-radius: 0;
}

/* Buttons */
.btn {
    font-size: .8rem;
}

.btn--blue {
    background-color: #072146;
}

.btn--active {
    background-color: #1d73b2;
}

h1 {
    font-size: 2rem;
}

.subtitle {
    color: #666;
    font-size: .8rem;
}

.form-response .form-group {
    color: grey;
    display: inline-block;
    font-size: 2rem;
    line-height: normal;
    margin-right: 1rem;
}

.form-response .figure__block {
    display: block;
}

.form-response .figure__text {
    display: block;
    font-size: .85rem;
    font-weight: 100;
}

.error__text {
    color: red;
    display: none;
}